[Unit]
Description=Check the status page and console every 5 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
